.banner{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
main{
  overflow-y:scroll; 
}
footer{
  width: 100%;
  height: 77px;
  background: #eee;

}
.content{
  width: 94%;
  margin-left: 3%;
}
.item{
  width: 100%;
  height: 150px;
  .rank{
    
    flex: 2;
    background: #54AFD9 1%;
    border-radius: 15px;
    .todayRank{
      left: 29px;

color: rgba(0, 78, 115, 100);
font-size: 20px;
text-align: center;
    }
    #rankVal{ 
      font-size: 60px;
      color: #fff;
      margin-left: 93px;
    }
    img{
      position: relative;
      top: -59px;
      left: -5px;
      width: 100px;
      height: 100px;
     
    }
  }
  .punch{
    margin-left: 20px;
    flex: 3;
    background: #9ED9F7 1%;
    border-radius: 15px;
    img{
      width: 100px;
      height: 100px;
    }
  }
  
}
.bage{
  position: relative;
  left: 40px;
  top: 30px;
  font-size: 35px;
  color: #54AFD9;
}
#punchVal{
  font-size: 20px;
}
#cardBtn{
  position: relative;
  left: 97px;
  top: 85px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 100);
color: rgba(0, 78, 115, 100)
}
.item1{
  width: 100%;
  height: 110px;
  background: url(../img/course-img01.jpg);
  background-size: cover;
}
.item2{
  width: 100%;
  height: 110px;
  .sports{
    background-color: aquamarine;
    border-radius: 15px;
    background: url('../img/index-card-data.png');
    background-size: cover ;
  }
  .sign{
    margin-left: 20px;
    background-color:skyblue;
    border-radius: 15px;
  }
}

.swiper-container {
  width: 100%;
  height: 200px;
  img{
    width: 100%;
    height: auto;
  }
}  
.swiper-container{
  // --swiper-theme-color: #ff6600;
  --swiper-pagination-color: #00ff33;/* 两种都可以 */
}


.hide{
  display: none;
}